<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_owner</title>
</head>
<body>
        <h1>ADDING NEW OWNER</h1>
         <form action="/add_owner" method="post">

             <input type="text" name="owner_name"> - Owner Name<br>
             <input type="number" name="owner_phone_number"> - Owner Phone Number<br>

             <input type="submit" value="Add New Owner"><br><br>

             <a href="/">Go back to home page</a><br>
             <a href="/owners">View all owners</a><br>

        </form>
</body>
</html>