<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_pet</title>
</head>
<body>
         <h1>ADDING NEW PET</h1>

         <form action="/add_pet" method="POST">


             <input type="text" name="pet_name" placeholder="Pet Name"><br>
              Species -<select name="species">
                {% for pet in pets_species %}
                    <option value= "{{pet}}" SELECTED>{{pet}}</option>
                {% endfor %}
             </select><br>
             <input type="number" name="age" placeholder="Age"><br>
             Vaccinated -<input type="checkbox" name="vaccinated"><br>
             <input type="text" name="owner_name" placeholder="Owner Name"><br>
             <input type="number" name="owner_phone_number" placeholder="Owner Phone Number"><br>



            <input type="submit" value="Add New Pet"><br><br>

             <a href="/">Go back to home page</a><br>
             <a href="/pets">View all pets</a><br>

        </form>
</body>
</html>